# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-or-anon-key

# MiniMax API Key
# Get your API key from https://platform.minimaxi.com/user-center/basic-information/interface-key
MINIMAX_API_KEY=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJHcm91cE5hbWUiOiJ5dSBydW8iLCJVc2VyTmFtZSI6Inl1IHJ1byIsIkFjY291bnQiOiIiLCJTdWJqZWN0SUQiOiIxOTg0NDI3MDk2NzY3NzMzOTE3IiwiUGhvbmUiOiIiLCJHcm91cElEIjoiMTk4NDQyNzA5Njc2MzUzNTUxNyIsIlBhZ2VOYW1lIjoiIiwiTWFpbCI6ImxlMjkzMjE2OUBnbWFpbC5jb20iLCJDcmVhdGVUaW1lIjoiMjAyNS0xMS0wMSAxMTozMjo1MCIsIlRva2VuVHlwZSI6MSwiaXNzIjoibWluaW1heCJ9.M9BMJGBdKikfTBXU2s7BAz17K8RwrRn0CDj_RtPhrtpYofn4qYtANRaLmhnNiVKNXE2MLypWg49tNtmrp-56jTj3SGhuv5rOxy3cQODXM2MShDDsJyaRVhgv5PIvguM7Pmn87ZUmw_Vn_o-ON4iMAIQ60E_Idd345a8cAY8XMYjqbYifDvEH9jb1U0rZesqBROirJE7k9jZxL1niPAv0Os7w4bQrOSu9xUPMYXM56z5s5MkKuFpDE3luzAgvwpAIzAEbahCOETNFI4IDvRFnFXm7A6anow8Cc9QafWyCZFJslGu9kYKEZ3xzUJZfNDMgIm1RgAXZgbjBTkl-5cBm2w

# Coze API Configuration
COZE_API_TOKEN=your-coze-api-token
COZE_WORKFLOW_ID=your-workflow-id
